@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "poppins-bld";
  src: url("./font/Poppins-Bold.ttf");
}

@font-face {
  font-family: "poppins-rg";
  src: url("./font/Poppins-Regular.ttf");
}

@font-face {
  font-family: "nunito-bld";
  src: url("./font/NunitoSans_10pt-Bold.ttf");
}

@font-face {
  font-family: "nunito-rg";
  src: url("./font/NunitoSans_10pt-Regular.ttf");
}

.a {
  font-family: Poppins, Nunito-sans;
}

@layer base {
  :root {
  }
}

.body {
  margin: 0px;
  padding: 0px;
}
