:root {
  --web-EN-head-1-font-family: "Montserrat-Bold", Helvetica;
  --web-EN-head-1-font-weight: 700;
  --web-EN-head-1-font-size: 45px;
  --web-EN-head-1-letter-spacing: 0px;
  --web-EN-head-1-line-height: 129.99999523162842%;
  --web-EN-head-1-font-style: normal;
  --web-EN-head-2-font-family: "Montserrat-Bold", Helvetica;
  --web-EN-head-2-font-weight: 700;
  --web-EN-head-2-font-size: 35px;
  --web-EN-head-2-letter-spacing: 0px;
  --web-EN-head-2-line-height: 129.99999523162842%;
  --web-EN-head-2-font-style: normal;
  --web-EN-head-3-font-family: "Montserrat-Bold", Helvetica;
  --web-EN-head-3-font-weight: 700;
  --web-EN-head-3-font-size: 26px;
  --web-EN-head-3-letter-spacing: 0px;
  --web-EN-head-3-line-height: 139.9999976158142%;
  --web-EN-head-3-font-style: normal;
  --web-EN-body-1-font-family: "Montserrat-Medium", Helvetica;
  --web-EN-body-1-font-weight: 500;
  --web-EN-body-1-font-size: 26px;
  --web-EN-body-1-letter-spacing: 0px;
  --web-EN-body-1-line-height: 139.9999976158142%;
  --web-EN-body-1-font-style: normal;
  --web-EN-body-2-font-family: "Montserrat-Medium", Helvetica;
  --web-EN-body-2-font-weight: 500;
  --web-EN-body-2-font-size: 20px;
  --web-EN-body-2-letter-spacing: 0px;
  --web-EN-body-2-line-height: 129.99999523162842%;
  --web-EN-body-2-font-style: normal;
  --web-EN-caption-1-font-family: "Montserrat-Bold", Helvetica;
  --web-EN-caption-1-font-weight: 700;
  --web-EN-caption-1-font-size: 16px;
  --web-EN-caption-1-letter-spacing: 0px;
  --web-EN-caption-1-line-height: 129.99999523162842%;
  --web-EN-caption-1-font-style: normal;
  --web-EN-caption-2-font-family: "Montserrat-Medium", Helvetica;
  --web-EN-caption-2-font-weight: 500;
  --web-EN-caption-2-font-size: 16px;
  --web-EN-caption-2-letter-spacing: 0px;
  --web-EN-caption-2-line-height: 129.99999523162842%;
  --web-EN-caption-2-font-style: normal;
  --grayscaleblack: rgba(18, 18, 18, 1);
  --grayscalewhite: rgba(255, 255, 255, 1);
  --grayscalegray-1: rgba(70, 70, 70, 1);
  --grayscalegray-2: rgba(100, 100, 100, 1);
  --grayscalegray-3: rgba(150, 150, 150, 1);
  --grayscalegray-4: rgba(217, 217, 217, 1);
  --grayscalegray-5: rgba(244, 244, 244, 1);
  --grayscalegray-6: rgba(249, 249, 249, 1);
}
