body {
  margin: 0px;
  padding: 0px;
}

.title {
  color: #111;

  /* web EN Head 2 */
  font-family: Montserrat;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 45.5px */
}

.title2 {
  color: #888;

  /* web EN Body 1 */
  font-family: Montserrat;
  font-size: 26px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 36.4px */
}

.title2:hover {
  color: #111;
}

.thumbnail1 {
  position: x=300, y=792;
}
