@tailwind base;
@tailwind components;
@tailwind utilities;

.a {
  font-family: Poppins, Nunito-sans;
}

@layer base {
  :root {
    --color-primary: colors.blue,
    --color-neutral: colors.gray,
  }
}

.body {
  margin: 0px;
  padding: 0px;
}

.head2 {
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.head4 {
  color: #888;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

.head4:hover {
  color: #111;
}

.thumbnail1 {
  position: x=300, y=792;
}
